*{
    font-family: cursive;
}

.header {
    text-align: center;
    background-color: rgb(255, 64, 147);
    height: 5vh;
    padding: 5vh ;
    position: fixed;
    width: 100%;
    left: 0%;
    top : 0%
}

.heading {

    font-style: italic;

    font-size: 170% ;
    color: aliceblue;
}

.foot {
    text-align: center;
    background-color: rgb(255, 64, 147);
    height: 3%;
    padding: 3vh ;
    
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
}
#msg_field {

    width: 60vh;
    border-color:rgb(255, 188, 217) ;
    height:4vh;
    border-style: none;
    border-radius: 6px;
    border-width: 3px;

    font-style:italic ;
    font-size: 100%;
    font-weight: 500;
    color: rgb(255, 52, 140);
}

.body {

    margin: 0% ;
}

#send-btn {

    height: 4vh;
    width: 10vh;
    background-color: white;
    border-style: none;
    border-width: 30px;
    border-radius: 6px;
    border-color: rgb(253, 251, 252);

    font-style:italic ;
    font-size: 100%;
    font-weight: 500;
    color: rgb(255, 52, 140);
    
    background:
        linear-gradient(-45deg, #000  40%, #fff 0 60%, rgb(255, 90, 175)  0) right/300% 100% no-repeat,
        linear-gradient(-45deg, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 0 60%, rgba(255, 85, 164, 0) 0) right/300% 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.8s
}

#send-btn:hover {

    border-style: solid;
    border-width: 2px;
    color: white;
    background-position: left;
}

.usermsg {

    background-color: rgba(255, 90, 175, 0.581);
    padding: 10px ;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    text-align: right;

    -webkit-backdrop-filter: blur(10px);
}
.botmsg {

    background-color: rgba(255, 90, 175, 0.581);
    border-radius: 6px;
    padding: 10px ;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: left;
    -webkit-backdrop-filter: blur(10px);
}
.stuff {
    margin:160px ;
    font-style:italic ;
    font-size: 121%;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.msgtxt {

    padding-left:3% ;
    padding-right:3%;
    padding-bottom: 5%;
}
.profile_imgs {

    border-radius: 5px;
    padding-left: 16px ;
    padding-right: 16px ;
}
.back2 {
    
    background-image:url('./Assets/background1.png');   
    width:100% ;
}
